<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% end %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <img src="https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/550/card_Maksim_Mamrikov-2241-min-min__1_.jpg" class="profilePicture">
      <div class="sellerRating">stars</div>
      <div class="buyerRating">stars</div>
      <%= link_to "Edit Profile", edit_user_path(@user) %>
    </div>
    <div class="col-xs-6">
      test
    </div>
    <div class="col-xs-4">
      test
    </div>
  </div>
</div>

