// Import boowatch variables
@import "bootswatch/cosmo/variables";

// Import bootstrap
@import "bootstrap";

// Import bootstrap cosmo
@import "bootswatch/cosmo/bootswatch";

@import "items";
@import "users";
@import "sessions";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.alert {
  margin-top: -22px;
}
