// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-box {
  background: white;
  width: 50%;
  border: black 10px solid;
}