// Place all the styles related to the items controller here.
// They will automatically be included in application.css.scss
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, label {
  text-align: center;
}

.btn {
  margin: 5px;
}

.sellerPic {
  margin: 5px;
  padding: 10px;
  border-radius: 40px;
}
 #sellerPic {
  border-radius: 30px;
 }

.buttonHolder, .acceptedPay, .sellerName, .listingTitle, .row {
  text-align: center;
}

.payIcon {
  height: 50px;
  width: 50px;
}

.productImg {
  display: block;
  margin: auto;
}

.descripTitle, .commentTitle, .newComment {
  font-weight: bold;
}

#sellerInformation {
  font-size: 190%;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: bolder;
}

#sellerRating {
  margin-bottom: 20px;
  font-size: 130%;
}

#contactInformation, #acceptedPay {
  font-size: 140%;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: bolder;
}

#bitcoinImg, #sellerEmail {
  margin-bottom: 20px;
}

#sellerName {
  margin-top: 20px;
}

#sellerEmail, #sellerName {
  font-size: 115%;
}

.profilePicture {
  width: 100%;
}

#sellerRatingTitle {
  font-weight: bolder;
}

#sellerBox {
  border-right: 2px solid black;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
