// Place all the styles related to the items controller here.
// They will automatically be included in application.css.scss
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, label {
  text-align: center;
}

h2 {
  color: #ffffff; 
  font-size: 60px;
  font-weight: 800; 
  line-height: 20px; 
  margin: 0 0 15px; 
  text-align: center; 
  text-transform: uppercase;
  text-shadow: 0 3px 0 #6FB9EA;
}
.btn {
  margin: 5px;
}

.sellerPic {
  padding: 15px;
}
#sellerPic {
  max-width: 450px;
  max-height: 200px;
  border-radius: 30px;
}

.buttonHolder, .acceptedPay, .sellerName, .listingTitle, .row {
  text-align: center;
}

.payIcon {
  height: 50px;
  width: 50px;
}

.productImg {
  display: block;
  margin: auto;
}

.descripTitle, .commentTitle, .newComment {
  font-weight: bold;
}

#sellerInformation {
  font-size: 22px;
  font-weight: bolder;
}

#contactInformation, #acceptedPay, #sellerRatingTitle {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 20px;
}

#bitcoinImg, #sellerEmail {
  margin-bottom: 20px;
}

#sellerName {
  margin-top: 16px;
}

#sellerEmail, #sellerName {
  font-size: 16px;
}

.profilePicture {
  width: 100%;
}

#sellerRatingTitle {
  font-weight: bolder;
}

#sellerBox {
  border-right: 2px solid black;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
}

.itemPrice {
  font-weight: bold;
  margin-top: 12px;
}
