// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  color: #ffffff; 
  font-size: 62px; 
  font-weight: 800; 
  line-height: 72px; 
  margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase;
}

#mainRow {
  border-bottom: 5px #304352 solid;
  margin-bottom: 2px;
}


// .individualListing {
//   margin-bottom: 5px;
// }

// .individualListing:not(:last-child) {
//   border-bottom: none;
// }

#itemName {
  border-bottom: 1px solid #304352;
}

#name {
  font-size: 200%;
  color: black;
  font-weight: bolder;
}

#itemName, .vertical-align {
  word-wrap: break-word;
}

.imgDimension {
  max-height: 300px;
}

#descripPrice {
  width: auto;
  max-height: 250px;
  text-align: left;
  color: black;
}

#descripPrice:hover {
  text-decoration: none;
}
