// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leftPanel {
  border-right: 2px black solid;
}

#profile {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: black;
}

#profilePicture {
  padding: 5px;
}
.profilePicture {
  width: 80%;
  border-radius: 30px;
}

#userName, #userEmail, #userSellerRating, #userBuyerRating {
  font-size: 135%;
  font-weight: bolder;
  margin-top: 15px;
}
#userSellerName {
  font-size: 125%;
}

#userBuyerRating {
  margin-bottom: 125px;
}
